.page-api__description {
    height: 255px;
    background-color: #2F353E;
    color: #fff;
}

.description__title h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 400;
}

.description__title p {
    margin-top: 20px;
    font-size: 16px;
}

.page-api .wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.page-api__api-box {
    padding: 80px 10px;
}

.page-api__api-box p {
    opacity: 0.7;
}