/* your custom css */

.fixedHeaderContainer{
  background: linear-gradient(90deg,#33c586 0%,#51cbff 100%);
  padding: 25px 0;
}

.navSearchWrapper{
  top: 25px;
}

.reactNavSearchWrapper input#search_input_react{
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  padding-left: 25px;
}

.reactNavSearchWrapper input#search_input_react:focus{
  background: rgba(0, 0, 0, 0.2);  
}

.navigationSlider .slidingNav ul{
  background: linear-gradient(90deg,#50e0a2 0%, #82d9ff 100%);
  margin-top: 84px;;
  /* border-top: 1px solid rgba(255,255,255,.3);  
  border-bottom: 1px solid rgba(255,255,255,.3); */
}

.navPusher{
  padding-top: 100px;
}

.homeSplashFade{
  background: linear-gradient(90deg,#33c586 0%,#51cbff 100%);
}

.projectTitle{
  color: #fff;
}

.gridBlock .fourByGridBlock{
  background: rgba(255,255,255,.2);
  padding: 30px 0;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 16px 32px 0 rgba(62,57,107,0.1);
  color: #fff;
}

.imageAlignTop .blockImage{
  margin: 20px 0;
}

.gridBlock .fourByGridBlock .blockContent div:nth-child(2){
  display: none;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {}

@media only screen and (min-width: 1024px) {
  .fixedHeaderContainer header {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}