/* your custom css */
@import url('fonts.css');
@import url('api.css');

*{
  font-family: 'Maison Neue', sans-serif !important;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 45px;
}

.mainContainer h2 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  color: #353A42;
  letter-spacing: 2.09px;
  margin-bottom: 19px;
  font-weight: 400;
}

h2{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  color: #353A42;
  letter-spacing: 2.09px;
  font-weight: 400;
}

h4{
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
}

.fixedHeaderContainer{
  background: #fff;
  padding: 3px 0;
  box-shadow: 0 5px 20px 0px rgba(62,57,107,0.2)
}

.fixedHeaderContainer header {
  padding: 20px 0;
}

.navigationSlider .slidingNav ul li a, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.49px;
  color: #555555;
  background: none;
}

.navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li a:focus{
  text-decoration: underline;
  color: #555555;
  background: none;
}

.navSearchWrapper:before{
  left: 21px;
}

.navSearchWrapper:after{
  left: 31px;
}

input#search_input_react{
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  padding-left: 30px;
  width: 90px;
}

input#search_input_react:focus{
  background: rgba(0, 0, 0, 0.5);  
}

.navPusher{
  padding-top: 80px;
}

.homeSplashFade{
  background: linear-gradient(90deg,#33c586 0%,#51cbff 100%);

}

.homeSplashFade::after{
  transform: skewY(5deg);
}

.projectTitle {
  color: #fff;
  margin-bottom: 2em;
}

.projectTitle > h1 {
  margin: 0;
  margin-bottom: 18px;
  /* font-size: 45px; */
}

.projectTitle > p {
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
  margin: 0;
}

.homeContainer .homeWrapper{
  padding: 6em 20px;
}

.homeContainer .homeWrapper .wrapper{
  max-width: initial;
}

.homeContainer .block-features{
  display: flex;
  justify-content: space-around;
}

.homeContainer .block-features img{
  width: 120px;
}

.homeContainer .features{
  background: rgba(255,255,255,.2);
  padding: 40px 0;
  width: 300px;
  border-radius: 6px;
  box-shadow: 0 16px 32px 0 rgba(62,57,107,0.1);
  color: #fff;
  cursor: pointer;
  transition: .3s;
  -webkit-transition: all 0.2s ease-out;
}

.homeContainer .features:hover{
  box-shadow: 0 16px 32px 0 rgba(62,57,107,0.2);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 16px 32px 0 rgba(62,57,107,0.2);;
}

.homeContainer .features:nth-child(2){
  margin: 0 25px;
}

.imageAlignTop .blockImage{
  margin: 20px 0;
}

.homeContainer .features .blockContent div:nth-child(2){
  display: none;
}

.mainContainer{
  padding: 0 !important;
}

.mainContainer .wrapper{
  text-align: center;
}

#back-to-top{
  background: #fff;
  -webkit-box-shadow: 0 5px 10px 0px rgba(0,0,0,.5);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
  color: green;
}

.sitemap__align{
  margin-left: 110px;
  text-align: justify;
}

.box{
  padding: 20px 0;
}

.box-wrapper{
  display: flex;
  justify-content: center;
  padding: 40px 0;

}

/* .box h2{
  font-size: 30px;
  color: #2E8555;
} */

section.developers{
  background: #f5f5f5;
}

.developers .wrapper{
  /* padding: 1px 0; */
}

.productShowcaseSection h3{
  color: #2E8555;
  margin-top: 20px;
  /* padding: 10px 0; */
  text-align: center;
}

.productShowcaseSection .prose h4{
  margin-bottom: 0;
}

.productShowcaseSection p{
  font-size: 14px;
}

.productShowcaseSection .logos{
  padding: 20px 0;
}

.productShowcaseSection .logos .app-item{
  margin: 10px;
  transition: .2s;
}

.productShowcaseSection .logos .app-item:hover{
  transform: scale(1.15);
}

.productShowcaseSection .logos .app-name{
  padding: 0;
  font-size: 12px;
  color: gray;
  font-weight: bold;
  display: block;
  opacity: 1;
}

.productShowcaseSection .logos img{
  width: 55px;
  height: 55px;
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  /* box-shadow: 0px 3px 20px -5px rgba(0,0,0,0.75); */
  /* border-radius: 5px; */
}

.productShowcaseSection .logos img[title="Microsoft Flow"]{
  height: initial;
}

.shadow-card {
  padding: 24px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#F5F5FA), to(#fff));
  background-image: linear-gradient(to top, #F5F5FA, #fff);
  /* color: #3c3c3d; */
  -webkit-box-shadow: 0 5px 15px 0 rgba(37,44,97,0.15), 0 2px 4px 0 rgba(93,100,148,0.2);
  box-shadow: 0 5px 15px 0 rgba(37,44,97,0.15), 0 2px 4px 0 rgba(93,100,148,0.2);
  border-radius: 2px;
  max-width: 400px;
}

.integrations .shadow-card {
  min-height: 467px;  
}

.shadow-card-elevate {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.shadow-card-elevate:hover, .shadow-card-elevate:focus {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 10px 30px 0 rgba(37,44,97,0.15), 0 4px 18px 0 rgba(93,100,148,0.2);
  box-shadow: 0 10px 30px 0 rgba(37,44,97,0.15), 0 4px 18px 0 rgba(93,100,148,0.2);
}

.use-cases .use-case-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
}

/* .flex-it-3-sm {
  -ms-flex: 0 1 33.33%;
  -webkit-box-flex: 0;
  flex: 0 1 33.33%;
} */

.use-cases .use-case-content {
  position: relative;
  width: 100%;
}

.flex-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-dir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pos-rel {
  position: relative;
}


.nav-footer{
  padding: 4em 0;
}

.nav-footer .sitemap a{
  margin: 2px 0;
  padding: 3px 0;
}

/* @media only screen and (min-device-width: 360px){
  .navPusher{
    padding-top: 100px;
  }
} */

@media only screen and (max-width: 1024px) {
  .navigationSlider .slidingNav ul li:not(.navSearchWrapper){
    display: none;
  }

  .reactNavSearchWrapper input#search_input_react {
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 30px;
  }

  .reactNavSearchWrapper input#search_input_react:focus,
  .reactNavSearchWrapper input#search_input_react:active {
    background: rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (max-width: 1023px) {
  .navigationSlider .slidingNav ul li:not(.navSearchWrapper){
    display: none;
  }

  .navSearchWrapper {
    right: 20px;
    top: 25px;
    width: 30%;
  }

  /* .navSearchWrapper:before{
    left: 10px;
  }

  .navSearchWrapper:after{
    left: 21px;
  } */
}

@media only screen and (max-width: 768px) {
  /* .fixedHeaderContainer{
    padding: 25px 0;
  } */

  .fixedHeaderContainer .homeWrapper .Wrapper {
    max-width: 1100px;
  }

  .navSearchWrapper{
    top: 25px;
  }

  .reactNavSearchWrapper input#search_input_react{
    /* padding-left: 30px; */
  }

  .navigationSlider .slidingNav ul{
    background: linear-gradient(90deg,#50e0a2 0%, #82d9ff 100%);
    margin-top: 80px;;
  }

  .homeContainer .block-features{
    display: grid;
  }

  .homeContainer .features:nth-child(2){
    margin: 30px 0; 
  }

  .homeContainer .features:hover{
    transform: inherit;
  }
}

@media only screen and (max-width: 735px){
  .navSearchWrapper {
    /* width: initial; */
  }

  .reactNavSearchWrapper input#search_input_react {
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 30px;
    /* transition: 0.5s width ease; */
  }

  .reactNavSearchWrapper input#search_input_react:focus,
  .reactNavSearchWrapper input#search_input_react:active {
    background: rgba(0, 0, 0, 0.5);
    /* width: 170px; */
  }
}

@media only screen and (max-width: 425px){
  .homeContainer .features{
    margin: 25px;
  }

  .homeContainer .features:nth-child(2){
    margin: 25px;
  }

  #back-to-top{
    height: 45px;
    width: 45px;
  }
  
  #back-to-top svg{
    margin: 11px auto 0;
  }
}


@media only screen and (min-width: 1100px) {
  .wrapper {
    max-width: 1100px !important;
  }
}

@media only screen and (min-width: 1500px) {
  .wrapper {
    max-width: 1100px !important;
  }
}