@media only screen and (min-width: 1024px) {
    /* ATUALIZAÇÕES */
    .docsNavContainer {
      top: 80px;
    }
  
    .docsNavContainer .toc {
      padding: 48px 0;
    }
  
    .toc section .navGroups {
      padding: 0;
    }
  
    .mainContainer,
    .onPageNav {
      padding: 48px 0px;
    }
  
    .anchor {
      top: -128px;
    }
    
    .reactNavSearchWrapper input#search_input_react:active {
      background: rgba(0, 0, 0, 0.5) !important;
    }

    .reactNavSearchWrapper input#search_input_react {
      background-color: rgba(0, 0, 0, 0.4) !important;
    }
  }